@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&family=Roboto+Mono&display=swap');

body {
    font-family: 'Prompt', 'Helvetica Neue', Arial, sans-serif;
}

.markdown-section p.tip:before {
    font-family: 'Dosis', 'Prompt', 'Helvetica Neue', Arial, sans-serif;
}

.markdown-section h1 {
    break-before: page;
}
